<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="GestAdh45">
					<Component Id="MainExecutable" Guid="8D646BF5-2EBF-4510-8A9C-9737AC849399">
						<File Id="StartupExecutable" Name="gestadh45.wpf.exe" Source="..\gestadh45.wpf\bin\Debug\gestadh45.wpf.exe" KeyPath="yes"/>
						<Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="GestAdh45" 
						          WorkingDirectory="INSTALLDIR" Icon="gestadh45.wpf.exe" IconIndex="0" Advertise="yes"/>
						<Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Name="GestAdh45" 
						          WorkingDirectory="INSTALLDIR" Icon="gestadh45.wpf.exe" IconIndex="0" Advertise="yes"/>
					</Component>
					
					<Component Id="License" Guid="A27E9FB7-BF36-4A24-B255-2103BBEABF1A">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
					</Component>
				
					<Component Id="ConfigFile" Guid="833DCCEF-EF4F-40CD-8FCC-5F4397886375">
						<File Id="gestadh45.wpf.exe.config" Name="gestadh45.wpf.exe.config" Source="..\gestadh45.wpf\bin\Debug\gestadh45.wpf.exe.config"/>
					</Component>
				
					<!-- DLL projets -->
					<Component Id="dll_gestadh45.business" Guid="69B2901B-E0CE-4C63-9623-90D392C8CCD8">
						<File Id="gestadh45.business" Name="gestadh45.business.dll" Source="..\gestadh45.wpf\bin\Debug\gestadh45.business.dll"/>
					</Component>
					
					<Component Id="dll_gestadh45.dal" Guid="AA450F49-8E10-4DCD-AACD-E72CFF50A9E2">
						<File Id="gestadh45.dal" Name="gestadh45.dal.dll" Source="..\gestadh45.wpf\bin\Debug\gestadh45.dal.dll"/>
					</Component>
					
					<Component Id="dll_gestadh45.model" Guid="261FCE87-3518-4321-8EAE-AA0EF2DA26DD">
						<File Id="gestadh45.model" Name="gestadh45.model.dll" Source="..\gestadh45.wpf\bin\Debug\gestadh45.model.dll"/>
					</Component>
					
					<Component Id="dll_gestadh45.services" Guid="904B176D-31F0-4CA3-AEA3-D8F830DF9256">
						<File Id="gestadh45.services" Name="gestadh45.services.dll" Source="..\gestadh45.wpf\bin\Debug\gestadh45.services.dll"/>
					</Component>
					
					<!-- DLL tiers -->
					<Component Id="dll_ClosedXML" Guid="ED055EF4-28A7-497B-B260-E137E80F6074">
						<File Id="ClosedXML" Name="ClosedXML.dll" Source="..\gestadh45.wpf\bin\Debug\ClosedXML.dll"/>
					</Component>
					
					<Component Id="dll_Controls" Guid="1D8251E0-E52D-45AF-AC96-C428CF9650A1">
						<File Id="Controls" Name="Controls.dll" Source="..\gestadh45.wpf\bin\Debug\Controls.dll"/>
					</Component>
					
					<Component Id="dll_DocumentFormat.OpenXml" Guid="4F0E7082-8E6E-4F9A-8DDB-9D6F6404C699">
						<File Id="DocumentFormat.OpenXml" Name="DocumentFormat.OpenXml.dll" Source="..\gestadh45.wpf\bin\Debug\DocumentFormat.OpenXml.dll"/>
					</Component>
					
					<Component Id="dll_DoddleReport" Guid="42390613-BD13-4CCF-8B87-5E48BF49AC28">
						<File Id="DoddleReport" Name="DoddleReport.dll" Source="..\gestadh45.wpf\bin\Debug\DoddleReport.dll"/>
					</Component>
					
					<Component Id="dll_DoddleReport.OpenXml" Guid="0009C0D4-32A2-4B69-BBDF-6B0CB92CDAA7">
						<File Id="DoddleReport.OpenXml" Name="DoddleReport.OpenXml.dll" Source="..\gestadh45.wpf\bin\Debug\DoddleReport.OpenXml.dll"/>
					</Component>
					
					<Component Id="dll_EntityFramework" Guid="ED92890B-1153-43F8-B391-33774F9CCEB6">
						<File Id="EntityFramework" Name="EntityFramework.dll" Source="..\gestadh45.wpf\bin\Debug\EntityFramework.dll"/>
					</Component>
					
					<Component Id="dll_System.Data.SqlServerCe" Guid="93A68211-FC92-4453-B102-803578419F2F">
						<File Id="System.Data.SqlServerCe" Name="System.Data.SqlServerCe.dll" Source="..\gestadh45.wpf\bin\Debug\System.Data.SqlServerCe.dll"/>
					</Component>
					
					<Component Id="dll_System.Data.SqlServerCe.Entity" Guid="6301807A-2768-482B-A076-B0D345E26850">
						<File Id="System.Data.SqlServerCe.Entity" Name="System.Data.SqlServerCe.Entity.dll" Source="..\gestadh45.wpf\bin\Debug\System.Data.SqlServerCe.Entity.dll"/>
					</Component>
					
					<Component Id="dll_GalaSoft.MvvmLight.WPF4" Guid="103C677C-7FB5-4E40-97FC-97D0EEFFB044">
						<File Id="GalaSoft.MvvmLight.WPF4" Name="GalaSoft.MvvmLight.WPF4.dll" Source="..\gestadh45.wpf\bin\Debug\GalaSoft.MvvmLight.WPF4.dll"/>
					</Component>
					
					<Component Id="dll_GalaSoft.MvvmLight.Extras.WPF4" Guid="9F8D6A36-89ED-49B2-811C-FEFC071E8343">
						<File Id="GalaSoft.MvvmLight.Extras.WPF4" Name="GalaSoft.MvvmLight.Extras.WPF4.dll" Source="..\gestadh45.wpf\bin\Debug\GalaSoft.MvvmLight.Extras.WPF4.dll"/>
					</Component>
					
					<Component Id="dll_Microsoft.Practices.ServiceLocation" Guid="06D91377-7105-41F5-AC1B-A50F58CBD0C9">
						<File Id="Microsoft.Practices.ServiceLocation" Name="Microsoft.Practices.ServiceLocation.dll" Source="..\gestadh45.wpf\bin\Debug\Microsoft.Practices.ServiceLocation.dll"/>
					</Component>
					
					<Component Id="dll_Microsoft.Windows.Shell" Guid="C6F0F680-2B99-4854-8A6B-CAD06A07B33D">
						<File Id="Microsoft.Windows.Shell" Name="Microsoft.Windows.Shell.dll" Source="..\gestadh45.wpf\bin\Debug\Microsoft.Windows.Shell.dll"/>
					</Component>
					
					<Component Id="dll_MigraDoc.DocumentObjectModel" Guid="2006AF75-F589-4231-843B-12A59499FE78">
						<File Id="MigraDoc.DocumentObjectModel" Name="MigraDoc.DocumentObjectModel.dll" Source="..\gestadh45.wpf\bin\Debug\MigraDoc.DocumentObjectModel.dll"/>
					</Component>
					
					<Component Id="dll_MigraDoc.Rendering" Guid="50ECC08E-F658-4F20-9C96-F9FD469DF9B4">
						<File Id="MigraDoc.Rendering" Name="MigraDoc.Rendering.dll" Source="..\gestadh45.wpf\bin\Debug\MigraDoc.Rendering.dll"/>
					</Component>
					
					<Component Id="dll_PdfSharp.Charting" Guid="BEE15C46-F0AC-4374-BC95-AE2A1FDA48E0">
						<File Id="PdfSharp.Charting" Name="PdfSharp.Charting.dll" Source="..\gestadh45.wpf\bin\Debug\PdfSharp.Charting.dll"/>
					</Component>
					
					<Component Id="dll_PdfSharp" Guid="D2395A79-B156-40E4-90E9-6F6DA30656D8">
						<File Id="PdfSharp" Name="PdfSharp.dll" Source="..\gestadh45.wpf\bin\Debug\PdfSharp.dll"/>
					</Component>
					
					<Component Id="dll_RibbonControlsLibrary" Guid="69FE00E6-9600-40A9-AFA8-9D5296E32FEC">
						<File Id="RibbonControlsLibrary" Name="RibbonControlsLibrary.dll" Source="..\gestadh45.wpf\bin\Debug\RibbonControlsLibrary.dll"/>
					</Component>
					
					<Component Id="dll_WPFToolkit" Guid="E857A93A-5B2C-4D68-888D-EC48056C0755">
						<File Id="WPFToolkit" Name="WPFToolkit.dll" Source="..\gestadh45.wpf\bin\Debug\WPFToolkit.dll"/>
					</Component>
					
					<Component Id="dll_System.Windows.Controls.DataVisualization.Toolkit" Guid="AB560BC4-F829-4F59-A4F7-F29FF3EC8518">
						<File Id="System.Windows.Controls.DataVisualization.Toolkit" Name="System.Windows.Controls.DataVisualization.Toolkit.dll" Source="..\gestadh45.wpf\bin\Debug\System.Windows.Controls.DataVisualization.Toolkit.dll"/>
					</Component>
					
					<Component Id="dll_System.Windows.Interactivity" Guid="D0C539E6-092B-4109-B5F1-CE9317FD9EE2">
						<File Id="System.Windows.Interactivity" Name="System.Windows.Interactivity.dll" Source="..\gestadh45.wpf\bin\Debug\System.Windows.Interactivity.dll"/>
					</Component>
					
					<Component Id="dll_Xceed.Wpf.Toolkit" Guid="F591F291-A6D5-4A09-973B-0340AE3F7D3A">
						<File Id="Xceed.Wpf.Toolkit" Name="Xceed.Wpf.Toolkit.dll" Source="..\gestadh45.wpf\bin\Debug\Xceed.Wpf.Toolkit.dll"/>
					</Component>
					
					<Component Id="dll_Xceed.Wpf.DataGrid" Guid="AA418236-F799-4E4A-8DFB-E2C5CC8200BF">
						<File Id="Xceed.Wpf.DataGrid" Name="Xceed.Wpf.DataGrid.dll" Source="..\gestadh45.wpf\bin\Debug\Xceed.Wpf.DataGrid.dll"/>
					</Component>
					
					<Component Id="dll_MigraDoc.DocumentObjectModel.resources" Guid="FA86A754-E984-4E39-B66B-49F9101E19B2">
						<File Id="MigraDoc.DocumentObjectModel.resources" Name="MigraDoc.DocumentObjectModel.resources.dll" Source="..\gestadh45.wpf\bin\Debug\de\MigraDoc.DocumentObjectModel.resources.dll"/>
					</Component>
					
					<Component Id="dll_MigraDoc.Rendering.resources" Guid="A63E08A3-2395-4DEA-88F8-8211CD8C6208">
						<File Id="MigraDoc.Rendering.resources" Name="MigraDoc.Rendering.resources.dll" Source="..\gestadh45.wpf\bin\Debug\de\MigraDoc.Rendering.resources.dll"/>
					</Component>
				
					<!-- binaires SQL Server CE 4.0 -->
					<Component Id="dll_sqlceca40" Guid="09A8E534-8278-4FF0-9002-493720BA1664">
						<File Id="sqlceca40" Name="sqlceca40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceca40.dll"/>
					</Component>
					
					<Component Id="dll_sqlcecompact40" Guid="D4BA9B4C-3FBB-49E3-A756-FF2C47DAEAED">
						<File Id="sqlcecompact40" Name="sqlcecompact40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlcecompact40.dll"/>
					</Component>
					
					<Component Id="dll_sqlceer40EN" Guid="82155373-2DF2-449C-8C24-2482E2E76905">
						<File Id="sqlceer40EN" Name="sqlceer40EN.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceer40EN.dll"/>
					</Component>
					
					<Component Id="dll_sqlceer40FR" Guid="1FD5E10E-1EB5-4161-A11A-002563648C5A">
						<File Id="sqlceer40FR" Name="sqlceer40FR.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceer40FR.dll"/>
					</Component>
					
					<Component Id="dll_sqlceme40" Guid="02D970B3-F963-45AB-B926-A479FF48F8A0">
						<File Id="sqlceme40" Name="sqlceme40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceme40.dll"/>
					</Component>
					
					<Component Id="dll_sqlceoledb40" Guid="8362A767-65CB-4B25-A1D7-B6230EAC85F4">
						<File Id="sqlceoledb40" Name="sqlceoledb40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceoledb40.dll"/>
					</Component>
					
					<Component Id="dll_sqlceqp40" Guid="459B8922-CF27-408F-8DE5-455790BE16BC">
						<File Id="sqlceqp40" Name="sqlceqp40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlceqp40.dll"/>
					</Component>
					
					<Component Id="dll_sqlcese40" Guid="52B29324-0720-4DB9-AAD0-71A20BB2A190">
						<File Id="sqlcese40" Name="sqlcese40.dll" Source="..\gestadh45.wpf\bin\Debug\sqlcese40.dll"/>
					</Component>
				</Directory>
			</Directory>
		
			<Directory Id="DesktopFolder" Name="Desktop"/>
				
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="GestAdh45">
					<Component Id="ProgramMenuDir" Guid="215D17BC-121A-4203-A7DB-92ADF37CB6B9">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
